.crispy {
  image-rendering: optimizeSpeed; /* Older versions of FF          */
  image-rendering: -moz-crisp-edges; /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges; /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated; /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor; /* IE                            */
}

.horizontal-slider {
  width: 350px;
}

.slider-thumb {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  background-color: #ccc;
}

.slider-track {
  height: 10px;
  top: 10px;
  border-radius: 3px;
}

.slider-track-0 {
  background-color: black;
}

.slider-track-1 {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  height: 6px;
}
